@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
.App {
  text-align: center;
  background-color:#222831 !important ;
}
html{
  background-color: #222831 !important;
}

h1,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif !important;
  color: #222831 !important;
}

h1{
  font-weight: 800 !important;
  color: #EEEEEE !important;
  
}

h3{
  font-weight: 700 !important ;
}

h6{
  font-weight: 700 !important ;
}

.maindiv{
  margin-top: 100px !important;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

@media screen and (max-width: 800px) {
  .card-horizontal{
    display: inline !important;
  }
}